<form class="card" method="POST" action="https://money.yandex.ru/quickpay/confirm.xml">
<input type="hidden" name="receiver" value="410014516606135" />
<input type="hidden" name="formcomment" value="‘Ironman’ Project: Arc Reactor" />
<input type="hidden" name="short-dest" value="‘Ironman’ Project: Arc Reactor" />
<input type="hidden" name="label" value="$order_id" />
<input type="hidden" name="quickpay-form" value="donate" />
<input type="hidden" name="targets" value="transaction {order_id}" />
<input type="hidden" name="sum" value="<%= cost %>" data-type="number" />
<input type="hidden" name="comment" value="Requires remote control." />
<input type="hidden" name="need-fio" value="false" />
<input type="hidden" name="need-email" value="false" />
<input type="hidden" name="need-phone" value="false" /> <input type="hidden" name="need-address" value="false" />
<div class="card-body">
  <div class="form-check">
    <label class="form-check-label">
      <input type="radio" name="paymentType" value="PC" />
      With Yandex.Money
    </label>
  </div>
  <div class="form-check" style="margin-bottom:15px">
    <label class="form-check-label" >
      <input type="radio" name="paymentType" value="AC" />
      With bank card
    </label>
  </div>
  <div class="form-check">
    <input type="submit" class="btn btn-primary" value="Transfer" />
  </div>
</div>
</form>